@charset "utf-8";
html { -webkit-text-size-adjust: none; }
body { background: #85A8C7 url(http://static.shufuwan.com/images/bg_kf.jpg) no-repeat center top; font: normal 12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue"; _font: 12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue"; *font:12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue";}
* { padding: 0; margin: 0; }
a { color: #333; text-decoration: none; outline: none; }
a:hover { color: #333; text-decoration: underline; }
fieldset, img, input, button, select { border: none; font-family: Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue"; }
img { border: none; }
ul { list-style: none; }
i, em { font-style: normal; }
h2 { font: normal 12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue", Helvetica, sans-serif; _font: 12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue"; *font:12px/24px Arial, "Microsoft Yahei", "Lantinghei SC", "Helvetica Neue";}
.f_l, .gimg, .col01 i { float: left; }
.f_r { float: right; }
.ad_li li { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.mod_tab01 { padding-bottom: 5px; }
.tab01 { border-collapse: collapse; background: #fff; }
.tab01 td { height: 40px; line-height: 40px; font-size: 14px; text-align: center; font-weight: normal; }
.tab01 th { height: 35px; line-height: 35px; font-weight: bold; text-align: center; }
.mod_tab01 { background: url(http://static.shufuwan.com/images/c01-box-b.gif) bottom no-repeat; }
.tab01 th, .tab01 td { border: #cfdce7 1px solid; }
.tab01 a { color: #069; }
.tab01 th { background: #e8f0f8; }
.tab01_rowbg { background: #f4f9fd; }
*html .tab01_rowbg td { background: #f4f9fd; }
.tab01 tr:hover, .tab01_rowbg:hover, tr.tab01_hov td { background: #6485a5; }
.tab01 img { vertical-align: -1px; margin-left: 5px; }
.tab01 td a { color: #333; }
.tab01 tr:nth-child(odd) { background: #e8f0f8; }
.tab01 tr:nth-child(even) { background: #f0f6fc; }
.hotpic { margin-left: 5px; }
.a00_sty { width: 204px; }
.a01_sty { width: 145px; }
.a02_sty { width: 200px; }
.a03_sty { width: 142px; }
.a04_sty { width: 119px; }
.a04_sty a { width: 90px; height: 28px; display: inline-block; text-indent: -999px; overflow: hidden; background: url("http://static.shufuwan.com/images/enter.png") no-repeat; }
.col01 { height: 34px; line-height: 34px; padding: 0 0 0 36px; overflow: hidden; }
.col01 i { font-weight: bold; font-size: 14px; }
.col01 { background: url(http://static.shufuwan.com/images/col01.gif) 0 0 no-repeat; }
.footer { text-align: center; font-size: 11px; line-height: 18px; margin: 30px auto 30px auto; }
.f_menu a { margin: 0 8px; }
.footer a, .footer { color: #4172a3; }
.clear { clear: both; font: normal 0/0 arial; height: 0; overflow: hidden; }
.f03, a.f03 { color: #069; }
.topnav { color: #91beea; text-align: right; line-height: 30px; padding-top: 15px; overflow: hidden; }
.topnav a { color: #369; margin: 0 6px; }
.sch_dm01 { position: absolute; top: 66px; left: 15px; width: 182px; z-index: 9999; }
.sch_dm01_li { width: 180px; border: #999 1px solid; background: #fff; overflow-y: auto; }
.sch_dm01_li a { display: block; padding: 0 5px 0 10px; cursor: pointer; }
.sch_dm01_li a:hover { background: #666; color: #fff; text-decoration: none; }
.lihover { background: #666; color: #fff; text-decoration: none; }
.li_a:hover { color: #FF0000; }
.rand_rowbg { background: #FFFF99; }
*html .rand_rowbg td { background: #FFFF99; }
.rand_rowbg:hover { background: #6485a5; }
.left_side { width: 61px; height: 265px; padding: 10px 9px 15px 10px; background: #7099be; border-radius: 4px; position: fixed; left: 50%; top: 189px; margin-left: -573px; _position: absolute; _top:expression((documentElement.scrollTop+475)+"px");}
.left_side.s_h { top: auto; bottom: 185px; }
.left_side .current_time { height: 50px; border-bottom: 1px solid #668eb2; }
.left_side .current_time span { width: 61px; height: 16px; display: block; color: #99c2e6; line-height: 16px; text-align: center; }
.left_side .current_time h5 { height: 34px; line-height: 34px; font-size: 16px; color: #e0f1ff; text-align: center; }
.left_side .time_list { width: 61px; height: 205px; overflow: hidden; }
.left_side .time_list span { width: 61px; height: 20px; display: block; line-height: 20px; text-align: center; color: #99c2e6; }
.left_side .time_list ul { width: 62px; }
.left_side .time_list li { float: left; border-bottom: 1px solid #668eb2; }
.left_side .time_list li a { width: 60px; height: 30px; display: block; text-align: center; line-height: 30px; color: #99c2e6; }
.left_side .time_list li a:hover { background: #668eb2; text-decoration: none; }
.right_side { width: 74px; position: fixed; left: 50%; bottom: 189px; margin-left: 490px; _position: absolute; _top:expression((documentElement.scrollTop+475)+"px");}
.right_side.s_h { top: auto; }
.right_side .rst, .right_side .rsb { background: url("http://static.shufuwan.com/images/r_side.png") no-repeat; }
.right_side .rst { width: 74px; height: 66px; background-position: left top; }
.right_side .rsb a { display: block; width: 60px; height: 60px; }
.top_search { width: 100%; height: 50px; background: url("http://static.shufuwan.com/images/search_bg.png") repeat-x; position: fixed; top: -50px; left: 0; z-index: 9999; opacity: 1; -webkit-transition: top .3s ease-out; -moz-transition: top .3s ease-out; -ms-transition: top .3s ease-out; -o-transition: top .3s ease-out; transition: top .3s ease-out; }
.top_search.show { top: 0; }
.top_search .search_inside { width: 960px; margin: 0 auto; }
.top_search .search_inside:after, .top_search .search_inside .search_box:after { content: "."; height: 0; display: block; clear: both; visibility: hidden; }
.top_search .search_inside h3 { float: left; height: 50px; line-height: 50px; font-size: 22px; font-weight: normal; color: #fff; }
.top_search .search_inside .search_box { float: right; width: 794px; height: 32px; margin: 9px 0; }
.top_search .search_inside .search_box .search_name { float: left; width: 570px; height: 20px; border-radius: 3px; line-height: 20px; padding: 6px 10px 6px 13px; background: #fff; color: #666; }
.top_search .search_inside .search_box .select_time { float: left; width: 116px; height: 32px; border-radius: 3px; background: #fff; margin-left: 2px; display: inline; position: relative; }
.top_search .search_inside .search_box .select_time h4 { width: 92px; height: 20px; line-height: 20px; padding: 6px 12px; color: #666; font-weight: normal; cursor: pointer; }
.top_search .search_inside .search_box .select_time h4 em { width: 0; height: 0; position: absolute; right: 14px; top: 14px; line-height: 0; border-style: dashed; border-color: transparent; border-width: 4px; border-top-style: solid; border-top-color: #666; }
.top_search .search_inside .search_box .select_time ul { width: 116px; border-radius: 3px; box-shadow: 0 0 3px; position: absolute; top: 32px; left: 0; overflow: hidden; display: none; }
.top_search .search_inside .search_box .select_time ul li { height: 30px; line-height: 30px; background: #fff; color: #666; padding-left: 12px; cursor: pointer; }
.top_search .search_inside .search_box .select_time ul li:hover { background: #f2f2f2; }
.top_search .search_inside .search_box .btn_search { float: right; width: 80px; height: 32px; border-radius: 3px; font-weight: bold; text-align: center; background: #d60000; color: #fff; cursor: pointer; transition: all 0.5s ease 0s; }
.top_search .search_inside .search_box .btn_search:hover { background: #f00; }
.tab01 tr.bgtr { background: #ffffda; }
.tab01 tr:hover { background: #e0e9f2; }
.sch_txt01 { border: #ddd 1px solid; height: 22px; line-height: 22px; width: 170px; padding: 0 5px; color: #666666; float: left; margin-right: 5px; outline: none; }
.header { width: 960px; height: 134px; margin: 0 auto; position: relative; z-index: 10; }
.wrap { width: 940px; background: url(http://static.shufuwan.com/images/mainbox-m.gif) center repeat-y; margin: 0 auto; padding: 0 13px 8px 13px; zoom: 1; position: relative; z-index: 10; }
.wrap_t { width: 966px; height: 10px; background: url(http://static.shufuwan.com/images/m-t.gif) center top no-repeat; font: normal 0/0 arial; overflow: hidden; margin: 0 auto; }
.wrap_b { position: relative; width: 960px; height: 6px; background: url(http://static.shufuwan.com/images/mainbox-b.gif) center bottom no-repeat; margin: 0 auto; }
.wrap_t2 { height: 6px; background: url(http://static.shufuwan.com/images/mainbox02-t.gif) center bottom no-repeat; font: normal 0/0 arial; margin-top: 3px; overflow: hidden; }
.m_r01 { margin-right: 10px; }
.kf_share { clear: both; }
.sch { position: relative; width: 315px; height: 35px; background: url(http://static.shufuwan.com/images/sch.gif) top right no-repeat; clear: both; z-index: 9999; }
.sch input { border: none; height: 31px; line-height: 31px; background: none; color: #666; font-family: verdana, 寰蒋闆呴粦 }
.btn_sch { width: 30px; cursor: pointer; text-indent: -9999em; margin: 2px 0 0 0; float: left; }
.sch_txt01 { width: 267px; margin-left: 2px; font-size: 12px; padding: 2px 0 0 10px; }
.sch_kw { padding-left: 65px; margin-top: 5px; clear: both; }
.sch_kw a { color: #369; margin: 0 0 0 5px; }
.sch_dm01 { position: absolute; top: 32px; left: 5px; width:275pxz-index:9999;}
.sch_dm01_li { width: 273px; border: #999 1px solid; background: #fff; overflow-y: auto; }
.sch_dm01_li a { display: block; padding: 0 5px 0 10px; cursor: pointer; }
.sch_dm01_li a:hover { background: #666; color: #fff; text-decoration: none; }
.menu { position: relative; width: 956px; height: 43px; background: url(http://static.shufuwan.com/images/menu.gif) no-repeat; margin: 0 auto; padding: 0 0 0 10px; z-index: 9990; clear: both; }
.menu_m { height: 40px; margin-right: -20px; overflow: hidden }
.menu_m a { float: left; background: url(http://static.shufuwan.com/images/menu-line.gif) right top no-repeat; color: #fff; font-weight: bold; font-size: 16px; line-height: 40px; padding: 3px 20px 0 20px; }
.menu_m a:hover { background: url(http://static.shufuwan.com/images/menu-abg.gif) right no-repeat; text-decoration: none; }
.kf_share { clear: both; padding: 8px 0\9; padding: 0 0\0; +padding:0;margin: 25px 0 5px 0; width: 315px; text-align: right; }
.csht { color: #369; display: inline-block; margin-top: 10px; }
.csht:hover { text-decoration: underline; color: #369; }
.sch_kw { color: #369; }
.sch_kw b, .sch_kw a { font-size: 14px; color: #369; font-weight: bold; }
.sch_kw a:hover { color: #369; text-decoration: underline; }
